extends layout

block content
  h1= title
  
  h3 Please select a category to find specific instruments

  div(class='categories')
    each category in category_list
      a(href=category.url class='category') #{category.name}

    else 
      p There are no categories.

  a(href='catalog/category/add_category' class='add-category') Add new category
