extends layout

block content
  h1= title
  
  h3 Please select a category to find specific instruments

  div(class='categories')
    each category in category_list
      button(type='button' class='category' onclick=category.url) #{category.name}

    else 
      p There are no categories.

  button(type='button' class='add-category' /*onclick='category/add_category' */) Add new category
