body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: bisque;
}

a {
  color: #00B7FF;
  text-decoration: none;
  display: inline-block;
}

.categories {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
}

.category, .add-category, .add-instrument, .options, .forms button {
  color: white;
  border-radius: 5px;
  border: 1px solid black;
  padding: 0.5rem 1rem;
  font-size: medium;
  cursor: pointer;
  text-align: center;
}

.category {
  background-color: #00b7ff81;
  color: rgb(2, 2, 164);
}

.options, .forms button {
  background-color: snow;
  color: black;
  margin: 0.5rem;
}

.add-category, .add-instrument {
  background-color: darkgrey;
  margin-top: 2rem;
}

.add-instrument {
  margin-left: 5rem;
}

.category:hover, .add-category:hover, .add-instrument:hover {
  transform: scale(0.92);
  transition: ease-in-out, 1s;
}

.instrument {
  border: 2px solid black;
  border-radius: 5px;
  font-size: medium;
  padding: 10px;
  background-color: burlywood;
}

.forms {
  display: flex;
  flex-direction: column;
}

textarea {
  resize: none;
}